#### Q1. Pandas version

In [75]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.0'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

#### Q2. Records count

In [12]:
len(df)

9704

#### Q3. Fuel types

In [16]:
len(df['fuel_type'].unique())

2

#### Q4. Missing values

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [21]:
df.isnull().sum(axis = 0)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

#### Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [51]:
asia_cars = df[df['origin'] == 'Asia']
asia_cars['fuel_efficiency_mpg'].max()

23.759122836520497

#### Q6. Median value of horsepower

1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

In [53]:
df['horsepower'].median()

149.0

In [58]:
most_frequent_hp = df['horsepower'].value_counts().max()
most_frequent_hp

142

In [65]:
df['horsepower'] = df['horsepower'].fillna(most_frequent_hp)
df['horsepower'].isnull().any()

False

In [66]:
df['horsepower'].median()

146.0

#### Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [74]:
asia_cars = df[df['origin'] == 'Asia']
vw_my_asia = asia_cars[['vehicle_weight', 'model_year']]
vw_my_asia_first7 = vw_my_asia.head(7)
vw_my_asia_first7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [78]:
X = np.array(vw_my_asia_first7)

In [81]:
XTX = X.T.dot(X)
inv_XTX = np.linalg.inv(XTX)

In [83]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [86]:
w = (inv_XTX.dot(X.T)).dot(y)
w.sum()

0.5187709081074016